@font-face {
  font-family: 'Inconsolata';
  src: url('../public//fonts//inconsolata-v21-latin-300.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inconsolata' !important;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

img {
  border-radius: 5px;
  width: 100px;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}
